<footer>
  <div class="mx-10 md:mx-20 flex flex-col gap-y-4 my-5">
    <hr class="bg-gray-200 h-[1px] md:h-0.5" />
    <div class="w-full">
      <div
        class="w-40 md:w-80 h-7 md:h-14 bg-ps-icon-logo bg-contain bg-no-repeat bg-center"
      ></div>
    </div>
    <div>
      Polisea Sdn. Bhd. under the brand name PolicyStreet is an approved
      Financial Adviser and Islamic Financial Adviser by Bank Negara Malaysia
      (BNM).
    </div>
  </div>

  <div
    class="bg-blue-950 text-white text-xs md:text-sm px-10 md:px-20 py-2 font-semibold"
  >
    COPYRIGHT © 2017-2024 POLICYSTREET. ALL RIGHTS RESERVED.
  </div>
</footer>
